Published_service_TC.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Published_service_TC" targetNamespace="http://www.example.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://www.example.com/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.com/">
      <xsd:element name="GiveQuotationTC">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="tcid" type="xsd:long" />
            <xsd:element name="quotation" type="xsd:decimal" />
            <xsd:element name="id" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GiveQuotationTCResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RequestQuotationTC">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:string" />
            <xsd:element name="dcid" type="xsd:long" />
            <xsd:element name="latitude" type="xsd:decimal" />
            <xsd:element name="longitude" type="xsd:decimal" />
            <xsd:element name="size" type="xsd:long" />
            <xsd:element name="orderAwarded" type="xsd:dateTime" />
            <xsd:element name="arrival" type="xsd:dateTime" />
            <xsd:element name="tcid" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RequestQuotationTCResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AwardOrder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="orderid" type="xsd:string" />
            <xsd:element name="isAwarded" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AwardOrderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GiveQuotationTCRequest">
    <wsdl:part name="parameters" element="tns:GiveQuotationTC" />
  </wsdl:message>
  <wsdl:message name="GiveQuotationTCResponse">
    <wsdl:part name="result" element="tns:GiveQuotationTCResponse" />
  </wsdl:message>
  <wsdl:message name="RequestQuotationTCRequest">
    <wsdl:part name="parameters" element="tns:RequestQuotationTC" />
  </wsdl:message>
  <wsdl:message name="RequestQuotationTCResponse">
    <wsdl:part name="result" element="tns:RequestQuotationTCResponse" />
  </wsdl:message>
  <wsdl:message name="AwardOrderRequest">
    <wsdl:part name="parameters" element="tns:AwardOrder" />
  </wsdl:message>
  <wsdl:message name="AwardOrderResponse">
    <wsdl:part name="result" element="tns:AwardOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="Published_service_TCPortType">
    <wsdl:operation name="GiveQuotationTC">
      <wsdl:documentation></wsdl:documentation>
      <wsdl:input message="tns:GiveQuotationTCRequest" />
      <wsdl:output message="tns:GiveQuotationTCResponse" />
    </wsdl:operation>
    <wsdl:operation name="RequestQuotationTC">
      <wsdl:documentation></wsdl:documentation>
      <wsdl:input message="tns:RequestQuotationTCRequest" />
      <wsdl:output message="tns:RequestQuotationTCResponse" />
    </wsdl:operation>
    <wsdl:operation name="AwardOrder">
      <wsdl:documentation></wsdl:documentation>
      <wsdl:input message="tns:AwardOrderRequest" />
      <wsdl:output message="tns:AwardOrderResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Published_service_TCSoap" type="tns:Published_service_TCPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GiveQuotationTC">
      <soap:operation soapAction="http://www.example.com/GiveQuotationTC" />
      <wsdl:input>
        <soap:body parts="parameters" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestQuotationTC">
      <soap:operation soapAction="http://www.example.com/RequestQuotationTC" />
      <wsdl:input>
        <soap:body parts="parameters" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AwardOrder">
      <soap:operation soapAction="http://www.example.com/AwardOrder" />
      <wsdl:input>
        <soap:body parts="parameters" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Published_service_TC">
    <wsdl:port name="Published_service_TCPort" binding="tns:Published_service_TCSoap">
      <soap:address location="http://localhost:8080/ws/Published_service_TC" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>